* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.Bg1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.Bg2 {
  position: absolute;
  right: 100px;
  bottom: 100px;
  transform: translate(50%, 50%);
  z-index: -1;
}

.body {
  max-width: 1200px;
  height: 100vh;
  padding-bottom: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: auto;
  font-style: normal;
  color: #585858;
  letter-spacing: 0;
}

p {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  font-style: normal;
  color: #585858;
  letter-spacing: 0.05em;
}

.headerContents {
  display: flex;
  align-items: center;
  gap: 30px;
}

.headerPan {
  display: flex;
  align-items: center;
  gap: 20px;
}

.headerPan a {
  text-decoration: none;
}

.headerPan a:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.help {
  width: 48px;
  height: 48px;
  border: 1px solid #585858;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.help p {
  font-size: 20px;
  font-weight: 700;
}
