* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.Bg1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.Bg2 {
  position: absolute;
  right: 100px;
  bottom: 100px;
  transform: translate(50%, 50%);
  z-index: -1;
}

.body {
  max-width: 1200px;
  height: 100vh;
  max-height: 850px;
  padding-bottom: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: auto;
  font-style: normal;
  color: #585858;
  letter-spacing: 0;
}

p {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  font-style: normal;
  color: #585858;
  letter-spacing: 0.05em;
}

.headerContents {
  display: flex;
  align-items: center;
  gap: 30px;
}

.headerPan {
  display: flex;
  align-items: center;
  gap: 20px;
}

.headerPan a {
  text-decoration: none;
}

.headerPan a:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.help {
  width: 48px;
  height: 48px;
  border: 1px solid #585858;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.help p {
  font-size: 20px;
  font-weight: 700;
}

.editPage {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.preview {
  width: 400px;
  height: 400px;
  border-radius: 40px;
  position: relative;
}

.bgBlack {
  width: 400px;
  height: 400px;
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  border: 1px solid #585858;
  border-radius: 40px;
}

.bgWhite {
  width: 400px;
  height: 400px;
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  border: 1px solid #585858;
  border-radius: 40px;
}

#Fan1 {
  z-index: 16;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center 0;
  transform: translate(-50%, -50%) rotate(270deg);
}

#Fan2 {
  z-index: 15;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center 0;
  transform: translate(-50%, -50%) rotate(270deg);
}

#Fan3 {
  z-index: 14;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center 0;
  transform: translate(-50%, -50%) rotate(180deg);
}

#Fan4 {
  z-index: 13;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center 0;
  transform: translate(-50%, -50%) rotate(135deg);
}

#Fan5 {
  z-index: 12;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center 0;
  transform: translate(-50%, -50%) rotate(90deg);
}

#Fan6 {
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center 0;
  transform: translate(-50%, -50%) rotate(0deg);
}

.button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: fit-content;
  margin: 0 20px;
}

.buttonContents {
  border: 1px solid #585858;
  border-radius: 29px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  position: relative;
}

.buttonText {
  margin: 0;
  padding: 0;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.8em;
  font-style: normal;
  color: #585858;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.previewButtons {
  margin: 20px auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.random {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#randomGene .button .buttonContents {
  padding: 0;
}

.sub-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub-button {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 0;
}

.code {
  padding: 20px;
  background-color: rgba(58, 58, 58, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  border-radius: 10px;
}

.code input {
  background-color: #585858;
  height: 30px;
  font-size: 14px;
  color: #f9f9f9;
  border: 1px solid #f9f9f9;
  width: 100%;
  padding: 0 10px;
}

.code .buttonContents {
  border: 1px solid #f9f9f9;
}

.code .buttonText {
  color: #f9f9f9;
}

.right {
  min-width: 750px;
  padding: 40px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.fanSettings {
  min-width: 650px;
  display: flex;
  justify-content: space-between;
}

.previewFan {
  height: 64px;
  width: 64px;
  border: 1px solid #dddddd;
  background-color: #fff;
  position: relative;
}

#svgpreviewFan1 {
  z-index: 16;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center 0;
  transform: translate(-50%, -50%) rotate(270deg);
}

#svgpreviewFan2 {
  z-index: 15;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center 0;
  transform: translate(-50%, -50%) rotate(270deg);
}

#svgpreviewFan3 {
  z-index: 14;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center 0;
  transform: translate(-50%, -50%) rotate(180deg);
}

#svgpreviewFan4 {
  z-index: 13;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center 0;
  transform: translate(-50%, -50%) rotate(135deg);
}

#svgpreviewFan5 {
  z-index: 12;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center 0;
  transform: translate(-50%, -50%) rotate(90deg);
}

#svgpreviewFan6 {
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center 0;
  transform: translate(-50%, -50%) rotate(0deg);
}

.setting {
  max-width: 570px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.color {
  min-width: 280px;
  display: flex;
  justify-content: space-between;
}

.color input {
  width: 40px;
  height: 30px;
  border: none;
  background: none;
  border-radius: 100px;
}

.colorNumber {
  min-width: 218px;
  display: flex;
  gap: 10px;
}

.rgb {
  display: flex;
  gap: 10px;
}

.rgb input {
  border: 1px solid #585858;
  height: 25px;
  width: 38px;
  border-radius: 5px;
  padding: 5px 5px;
}

.r {
  display: flex;
  align-items: center;
  gap: 5px;
}

.g {
  display: flex;
  align-items: center;
  gap: 5px;
}

.b {
  display: flex;
  align-items: center;
  gap: 5px;
}

.position {
  min-width: 265px;
  display: flex;
  justify-content: space-between;
}

.positionNumber {
  display: flex;
  gap: 10px;
}

.text {
  height: 25px;
  width: 40px;
  border: 1px solid #585858;
  border-radius: 5px;
  padding: 3px 5px;
}

.rangeSet {
  display: flex;
  gap: 5px;
}

.radius {
  min-width: 280px;
  display: flex;
  justify-content: space-between;
}

.radiusNumber {
  display: flex;
  gap: 10px;
}

.angle {
  min-width: 265px;
  display: flex;
  justify-content: space-between;
}

.angleNumber {
  display: flex;
  gap: 10px;
}

.buttons {
  margin: 12px 0;
}

.buttonContents:hover {
  border-color: #f9f9f9;
  background-color: #f9f9f9;
  transition: 0.3s;
  cursor: pointer;
}

.code .button:hover .buttonText {
  color: #585858;
  transition: 0.3s;
}

.copy .button:hover .buttonContents {
  border-color: #585858;
}

.buttonContents:hover .load {
  transform: rotate(30deg);
  transition: 0.3s;
}

.buttonContents:hover .codeLoad {
  transform: rotate(30deg);
  transition: 0.3s;
}

.buttonContents:hover .codeLoad path {
  stroke: #585858;
  transition: 0.3s;
}

.buttonContents:hover .svg path {
  fill: #005fff;
  transition: 0.3s;
}
